// ==== LAYOUT
$block-size: 900px;

// ==== FONT SIZES
$primary-font: 'Montserrat', sans-serif;
$h1-font-size: 62px;
$h2-font-size: 42px;

// ==== BACKGROUND COLOURS
$body-bk: black;

// ==== FONT COLOURS
$h1-color: white;
// $h1-color: #4894EB;
$primary-color: #FFF;

// ==== BACKGROUND POSITIONS
$back: -2;
$background: -1;
$middleground: 0;
$foreground: 1;
$front: 2;