//===== FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

//===== IMPORTS
@import "variable";
@import "mixins";
@import "animation";

body{
    font-family: $primary-font;
    background: $body-bk;
}

#Wrapper{
    .slide{
        width: 100vw;
        height: 100vh;
        display: table;
        position: absolute;
        .center{
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            padding: 0 60px;
            .block{
                margin: 0 auto;
                max-width: $block-size;
                h1{
                    font-size: $h1-font-size;
                    color: $h1-color;
                    font-weight: bold;
                    font-family: unset;
                    letter-spacing: -6px;
                    word-spacing: 11px;
                }
                h2{
                    font-size: $h2-font-size;
                    color: $primary-color;
                    // font-size: 10px;
                }
            }
        }
    }

    // ARROWS
    .arrow{
        top: 43%;
        position: absolute;
        cursor: pointer;
    }
    .arrow.next{
        position: absolute;
        // @include centerer(false, true);
    }
    .arrow.previous{
        @include flip(true, false);
        // @include centerer(false, true);
    }

    // First slide
    .Slide1{
        box-sizing: border-box;
        // background-color: #2a2a2a;
        // background: #360033;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(top left, #845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .london{
            background: url('../img/london_eye.jpg');
            
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background-size: cover;

            z-index: -1;
        }

        .gradient{

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.5;

            background: linear-gradient(270deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
            background-size: 1200% 1200%;

            -webkit-animation: AnimationName 30s ease infinite;
            -moz-animation: AnimationName 30s ease infinite;
            animation: AnimationName 30s ease infinite;

        }

        h2{
            @include inline-block;
            min-height: 120px;
            font-weight: 300;
        }
        .typed-cursor{
            font-size: $h2-font-size;
        }
    }


    // Second slide
    .Slide2{
        // background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%);
        // background: linear-gradient(#020111, #3a3a52);
        background-image: -webkit-linear-gradient(top, green, yellow); 
        animation-duration: 6s;
        overflow: hidden;
        .ground{
            position: absolute;
            left: -300px;
            right: -300px;
            bottom: -100px;
            height: 200px;
            background-color: #27c787;
            border-radius: 50%;
        }
    }

    .Slide2.alt{
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
        background: linear-gradient(to bottom, #fff 10%,#eee 100%);
    }

}