@mixin hundred {
    // write the css here
    width: 100%;
    height: 100%;
}

@mixin inline-block {
	display: inline-block;
	width: auto;
}

// === CENTERING MIXIN
// https://css-tricks.com/snippets/sass/centering-mixin/
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// === FLIP MIXIN
@mixin flip($horizontal: true, $vertical: true) {
	@if ($horizontal and $vertical){
		// HORIZONTAL FLIP
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
		// VERTICAL FLIP
		-moz-transform: scale(1, -1);
		-webkit-transform: scale(1, -1);
		-o-transform: scale(1, -1);
		-ms-transform: scale(1, -1);
		transform: scale(1, -1);
	}
	@else if($horizontal){
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);		
	}	
	@else if($vertical){
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);		
	}	
}

// === GRADIENT
// https://github.com/aweary/gradient-animation.scss
@mixin gradient-animate($direction, $duration, $colors){
$size: length($colors) * 200%;  
background: linear-gradient($direction, $colors);
background-size: $size $size;

  @include keyframes(gradient-animate){
    0%{background-position: 0% 0%}
    50%{background-position: 100% 100%}
    100%{background-position:0% 0%}
  };
  
  @include animation(gradient-animate $duration linear infinite);
}